@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fffaa0;
  background-size: 70px 70px;
  background-image: linear-gradient(90deg, #80808033 1px, transparent 0), linear-gradient(180deg, #80808033 1px, transparent 0);
}

h1 {
  font-size: 4rem;
  padding: 10px;
}

p {
  font-size: 2rem;
  padding: 10px;
}

li {
  list-style: none;
  padding-bottom: 2%;
}

.attribute{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

.btn{
  background-color: #89cff0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px black;
  font-size: 1.25rem;
  height: 50px;
  min-width: 300px;
  margin: 10px;
  color: #fff;
}

.btn2{
  background-color: #89cff0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px black;
  font-size: 1.25rem;
  height: 50px;
  min-width: 300px;
  margin: 10px;
  color: #fff;
}

.btn:active{
  box-shadow: none;
  transform: translate(4px, 4px);
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .25s;
}

.btn2:active{
  box-shadow: none;
  transform: translate(4px, 4px);
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .25s;
}

.btn:nth-of-type(1){
  color: #89cff0;
  background-color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.categoryContainer {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 7.59%;
}

.categoryContainer > div:nth-child(n+5) {
  margin-left: 50px;
  margin-right: -50px;
}

.heading{
  display: flex;
  justify-content: center;
}

.loc-link a{
  padding-left: 8px;
}

.logoutBtn {
  display: flex;
  justify-content: center;
}

.slink {
  padding: 10px 10px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Searchbox Styles */

.search-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 4px 4px 0px 0px black;
  border-radius: 10px;
  padding: 50px;
  font-size: 1.25em;
}

.search-box form>*{
  display: block;
  margin: 10px;
}

.search-box form>input{
  box-shadow: 1px 1px 0px 0px black;
  width: 90%;
  padding: 10px;
}

/* Results */
.results-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 4px 4px 0px 0px black;
  border-radius: 10px;
  padding: 50px;
  font-size: 1.25em;
}
.results-box img {
  max-width: 100%;
  height: auto;
}
.top{
  display: flex;
  flex-direction: row;
}
.marquee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  width: 50%;
}
.details {
  display: flex;
  align-self: center;
  margin-top: 5%;
  justify-content: flex-end;
  width: 50%;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.rimg{
  width: 200px;
}

.resultSpan{
  padding: 5%;
}


/* Cards Styling */
.cards{
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000;
  border-radius: 10px;
  padding: 10px;
}

.cards>*{
  padding: 5px;
}

/* Clerk Provider Style Alterations */
.cl-headerTitle{
  font-size: 2em;
}

@media only screen and (min-device-width: 0px) 
                   and (max-device-width: 640px) 
                   and (orientation: portrait) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .buttons {
    flex-wrap: wrap;
  }

  .btn {
    min-width: 250px;
  }

  .categoryContainer {
    grid-template-columns: repeat(2, 140px);
    grid-gap: 2rem;
    margin-top: 2px;
  }


  .categoryContainer > div:nth-child(n+5) {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .categoryContainer > div:nth-child(even) {
    margin-top: 50px;
    margin-bottom: -50px;
  }

  .container {
    margin:8%;
  }

  .details {
    width: 100%;
  }

  #logo {
    width: 600px;
  }

  .marquee {
    width: 100%;
  }

  .results-box {
    width: 100%;
    padding: 20px;
  }

  .search-box {
    padding: 5px;
  }

  .top {
    flex-wrap: wrap;
  }
}

@media only screen and (min-device-width: 0px) 
                   and (max-device-width: 1000px) 
                   and (orientation: landscape) {
  h1 {
    font-size: 2rem;
  }

  .categoryContainer {
    grid-template-columns: repeat(4, 140px);
    grid-gap: 2rem;
    margin-top: 2px;
    }

  .categoryContainer > div:nth-child(n+5) {
    margin-left: 50px;
    margin-right: -50px;
  }
    
  .categoryContainer > div:nth-child(even) {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .container {
    margin-top: 2%;
  }
}
